<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <title>Home</title>
</head>
<body>

    <div th:object="${authWallet}">
        <h4>На вашем счету</h4>
        <p>BTC: <span th:text="*{amountBitcoin}">BTC</span>.</p>
        <p>TON: <span th:text="*{amountTON}">TON</span>.</p>
        <p>DC: <span th:text="*{amountDC}">DC</span>.</p>
        <p>RUB: <span th:text="*{amountRub}">RUB</span>.</p>
    </div>
<br><br><br>

        <h4>Актуальный курс по отношению к рублю</h4>
        <p>BTC: <span th:text="${exchangeRates.bitcoinRate}">BTC</span>.</p>
        <p>TON: <span th:text="${exchangeRates.tonRate}">TON</span>.</p>
        <p>DC: <span th:text="${exchangeRates.dcRate}">DC</span>.</p>


</body>
</html>