<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>КУРСОВОЙ ПРОЕКТ</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all"
          href="/css/gtvg.css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Register</h1>
<form method="POST" th:action="@{/register}" th:object="${registerForm}">
    <div>
        <label for="username">Username: </label>
        <input type="text" th:field="*{username}" id="username"/>
        <span class="validationError"
              th:if="${#fields.hasErrors('username')}"
              th:errors="*{username}">username error</span><br>
    </div>

    <div>
        <label for="password">Password: </label>
        <input type="password" th:field="*{password}" id="password"/>
        <span class="validationError"
              th:if="${#fields.hasErrors('password')}"
              th:errors="*{password}">password error</span><br>
    </div>


    <input type="submit" value="Register"/>

    <div th:text="${message}"></div>

    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>

</form>
</body>
</html>